{% extends "base.html" %}
{% import 'query/query.js' as qjs %}
{% import 'query/query_macros.html' as qmacs %}

{% block title %}
<title>DNS Control Panel - DOMAIN</title>
{% endblock %}

{% block dashboard_stat %}
<section class="content-header">
</section>
{% endblock %}

{% block content %}
<div id="records_content_div">
{{ qmacs.records_content(frm, records) }}
</div>
{% endblock %}

{% block extrascripts %}
{% endblock %}

{% block jsfooter %}
<script type="text/javascript">
{{ qjs.recordsqueryjs() }}
</script>
{% endblock %}
