{% extends "base.html" %}
{% import 'common/macros.html' as mcrs %}
{% import 'common/macros.js' as jsmacs %}

{% block title %}<title>DNS Control Panel - My Profile</title>{% endblock %}


{% block endofheader %}
{{ mcrs.group_style() }}
{% endblock %}


{% block dashboard_stat %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Domain Group <small>Maintain Groupings of Domains for Access Control Lists</small></h1>
      <ol class="breadcrumb">
        <li><a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="{{ url_for('domaingroup_list') }}">Domain Group List</a></li>
        <li class="active">Maintain Domain Group</li>
      </ol>
    </section>
{% endblock %}


{% block content %}
<section class="content" id="domaingroup_content">
{{ mcrs.domaingroup_maintain_content(domaingroup, domains, dgds, usr_grps, usrgrps_in) }}
</section>
{% endblock %}


{% block extrascripts %}
<script>
{{ jsmacs.domaingroup_maintain(domaingroup) }}
</script>
{% endblock %}
