{% macro commonform(form, tabletags=True, submitbutton=True) %}
{% if tabletags %}<table align='center'>{% endif %}
    {{ form.hidden_tag() if form.hidden_tag }}
    {% for f in form if f.type != 'CSRFTokenField' %}
    <tr id="tr_{{ f.name }}"><td>{% if f.widget.input_type != 'hidden' %}{{ f.label }}{% endif %}</td>
    <td>{{ f }}</td>
    {% if f.errors %}
    <td><ul>
        {% for e in f.errors %}
        <li><font color="red">{{ e }}</font></li>
        {% endfor %}
    </ul></td>
    {% endif %}
    {% endfor %}
    {% if submitbutton %}<tr><td><button type="button" onclick="reload_domains()">Whopper</button></td></tr>{% endif %}
{% if tabletags %}</table>{% endif %}
{% endmacro %}
